<%= form_with(model: garment, local: true) do |form| %>
  <% if garment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(garment.errors.count, "error") %> prohibited this garment from being saved:</h2>

      <ul>
      <% garment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :garment_name %>
    <%= form.text_field :garment_name %>
  </div>

  <div class="field">
    <%= form.label :garment_type %>
    <%= form.text_field :garment_type %>
  </div>

  <div class="form-group">
    <%= form.label :desc %>
    <%= form.text_area :desc, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>
