<%= form_with(model: garment, local: true) do |form| %>
  <% if garment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(garment.errors.count, "error") %> prohibited this garment from being saved:</h2>

      <ul>
      <% garment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :garment_name %>
    <%= form.text_field :garment_name %>
  </div>

  <div class="form-group col-md-4">
    <label for="garment_type">Type</label>
    <%= form.select :garment_type, ['Top', 'Bottom', 'One-piece'], {prompt: "Choose..."}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :desc %>
    <%= form.text_area :desc, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>
