<div class="container">
	<div class="row">
		<div class="offset-md-2 col-md-8">
			<div class="card card-block">
				<h4 class="card-title"><%= link_to @item.user.username, user_path(@item.user.username) %></h4>
				<p class="card-text"><%= @item.url %> </p>
				<% if @item.text? %>
					<p class="card-text"><%= @item.text %> </p>
				<% end %>
				<p class="card-text">
				<% if @item.user == current_user %>
					<%= link_to 'Edit', edit_item_path(@item), class: "card-link" %>
					<%= link_to 'Delete', @item, method: :delete, class: "card-link" %> 
				<% end %>
				<%= link_to 'Back', items_path, class: "card-link" %>
			</p>
			</div>
		</div>
	</div>
</div>